<div class="modal fade" bsModal tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{modalMessage}}</p>
                <div class="text-right m-t-20">
                    <button type="button" class="btn btn-sm m-r-5" (click)="confirm()" [ngClass]="classBtnConfirmColor">{{modalBtnConfirmMessage}}</button>
                    <button type="button" class="btn btn-sm btn-outline-default" (click)="modalDirective.hide()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>