<div class="container m-t-100" [formGroup]="form1">
    <div class="form-row">
        <uts-input-text-container label="Nome" class="col-lg" [fControl]="form1.controls.nome">
            <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
        </uts-input-text-container>

        <uts-input-text-container label="Email" class="col-lg" [fControl]="form1.controls.email"
            [shouldApplyValidClass]="true">
            <input type="text" class="form-control" formControlName="email" placeholder="Email">
        </uts-input-text-container>
    </div>

    <div class="form-row">
        <uts-radio-container [fControl]="form1.controls.sexo" label="Sexo" class="col-lg"
            [shouldApplyValidClass]="true">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" formControlName="sexo" value="M" class="custom-control-input">
                <label class="custom-control-label">Masculino</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" formControlName="sexo" value="F" class="custom-control-input">
                <label class="custom-control-label">Feminino</label>
            </div>
        </uts-radio-container>

        <uts-checkbox-container [fControl]="form1.controls.concordaTermos" class="col-lg" [shouldApplyValidClass]="true"
            validFeedbackMessage="Obrigado, agora podemos te espionar e vender seus dados legalmente.">
            <input type="checkbox" formControlName="concordaTermos" class="custom-control-input">
            <label class="custom-control-label">Concordo com os termos de uso</label>
        </uts-checkbox-container>
    </div>

    <uts-input-text-container2 [fControl]="form1.controls.nome" label="Nome">
        <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
    </uts-input-text-container2>

    <uts-input-text-container [fControl]="form1.controls.nome" inputParentClass="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">Email</div>
        </div>
        <input type="text" class="form-control" formControlName="email" placeholder="Email">
    </uts-input-text-container>
    
    <button class="btn btn-primary" (click)="value = form1.getRawValue()">Valor Form</button>
</div>

<div class="bg-light border rounded m-t-40" *ngIf="value">
    <pre>{{value | json}}</pre>
</div>