<div class="container">
    <h3 class="text-primary">Pipes</h3>
    <p>
        Pipe de telefone: <br>
        {{18996111111 | telefoneCelular}} <br>
        {{1836000000 | telefoneCelular}}
    </p>

    <hr />

    <h3 class="text-primary">Modals</h3>
    <div class="row">
        <div class="col"><button class="btn btn-primary" (click)="modalMessage()">Modal de mensagem</button></div>

        <div class="col">
            <button class="btn btn-primary" (click)="modalConfirmation()">Modal de confirmação</button>
            <p>{{ modalResposta != null ? 'Resposta: '+modalResposta : '' }}</p>
        </div>
    </div>
</div>