<div class="container m-t-50">
    <!-- <uts-loading-on-demand [dataUrl]="urlItens" (data)="handleItens($event)">

        <p class="text-center text-success" *ngFor="let item of itens">{{item.raca}}</p>

    </uts-loading-on-demand> -->

    <uts-basic-scroll-to-load>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        v
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p>
        <p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p><p>texto</p>
    </uts-basic-scroll-to-load>
</div>